<h1 class="text-danger">YAB - YOU ARE BEST</h1>
<p>You worry about your program skill you don't have confident to work.</p>
<p>Don't worry come here we have all the test for you to know what level you are and how many percent you know about
    your languege</p>
<p>The test made by Professor Mr.Huy</p>
<div class="container">
        <!-- Card -->
    <mdb-card  style="width: 50%;" class="my-3">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="../../../assets/Mr.huy.png" alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4 class="text-center text-danger">Certificate</h4>
              </mdb-card-title>
          
              <!--Text-->
              <mdb-card-text> 
                    <p><strong>ID: </strong> 3001180265</p>
                    <p><strong>Name: </strong> Tran Gia Huy</p>
                    <p><strong>Birth: </strong> 03/10/1999</p>
                    <p><strong>Address: </strong>Los Angerles</p>
                    <p><strong>Expiry Date: </strong> Unlimited</p>
              </mdb-card-text>
          
              
            </mdb-card-body>
          </mdb-card>
          <!-- Card -->
    </div>