<h1>Ask here when you dont understand</h1>
<div class="container">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">
            <h6>Your email</h6>
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="example@gmail.com">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">
            <h6>Question title</h6>
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">
            <h6>Question body</h6>
        </label>
        <div class="col-sm-10">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is to input the file or picture you don't
            understand</small>
    </div>
    <button type="submit" (click)="alert()" class="btn btn-primary">Submit</button>
</div>
