<div class="jumbotron indigo darken-3 " style=" border-radius: 0%">
    <div class="row">
        <div class="col-sm-6 text-white">
            <h1>Empower YourSelf</h1>
            <p><code>Free online testing</code> from the Professor Huy.</p>
            <p>Join 7 billion testing today</p>
            <button class="btn btn-success" routerLink="/register">Sign up now</button>
        </div>
        <div class="col-sm-6">
            <div class="grid-container">
                <!-- <div>
                    <h1><i class="fas fa-language"></i></h1>
                    Language
                </div> -->
                <div>
                    <h1><i class="fab fa-js"></i></h1>
                    Java Script
                </div>
                <div>
                    <h1><i class="	fas fa-globe-africa"></i></h1>
                    WebSite
                </div>
                <div>
                    <h1><i class="fas fa-code"></i></h1>
                    Code
                </div>
                <!--  <div>
                    <h1><i class="	fas fa-robot"></i></h1>
                    AI
                </div> -->
                <div>
                    <h1><i class="fas fa-database"></i></h1>
                    Databases
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="text-center  pink accent-2">Learn Before Test</h1>
<div class="container-fluid ">
    <div class="row ">
        <div class="col border m-2  grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-cloud-upload-alt"></i> Latest Technologies</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/bitcoin/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_bitcoin.png" alt="Bitcoin Tutorial"
                            title="Bitcoin Tutorial" />
                        <div>Bitcoin</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/blockchain/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blockchain.png" alt="Blockchain Tutorial"
                            title="Blockchain Tutorial" />
                        <div>Blockchain</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/blue_prism/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blue_prism.png" alt="Blue Prism Tutorial"
                            title="Blue Prism Tutorial" />
                        <div>Blue Prism</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/ethereum/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_ethereum.png" alt="Ethereum Tutorial"
                            title="Ethereum Tutorial" />
                        <div>Ethereum</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/openshift/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_open_shift.png" alt="OpenShift Tutorial"
                            title="OpenShift Tutorial" />
                        <div>OpenShift</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/python_blockchain/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blockchain_python.png" alt="Python Blockchain Tutorial"
                            title="Python Blockchain Tutorial" />
                        <div>Python Blockchain</div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col border m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-check-square"></i> Machine Learning</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/machine_learning/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_machine_learning.png" alt="Machine Learning Tutorial"
                            title="Machine Learning Tutorial" />
                        <div>Machine Learning</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/tensorflow/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_tensor_flow.png" alt="TensorFlow Tutorial"
                            title="TensorFlow Tutorial" />
                        <div>TensorFlow</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/machine_learning_with_python/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_ml_python.png" alt="Machine Learning with Python Tutorial"
                            title="Machine Learning with Python Tutorial" />
                        <div>Machine Learning with Python</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/artificial_intelligence_with_python/index.htm"
                        target="_blank"><img src="../../../assets/homeimg/home_ai_python.png"
                            alt="AI with Python Tutorial" title="AI with Python Tutorial" />
                        <div>AI with Python</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/time_series/index.htm"><img
                            src="../../../assets/homeimg/home_time_series.png" alt="Time Series Tutorial"
                            title="Time Series Tutorial" />
                        <div>Time Series</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/pytorch/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_pytorch.png" alt="PyTorch Tutorial"
                            title="PyTorch Tutorial" />
                        <div>PyTorch</div>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <div class="row my-5  ">
        <div class="col border  m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-cogs"></i> Computer Science</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/computer_fundamentals/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Computer-Fundamentals.png" alt="Computer-Fundamentals Tutorial"
                            title="Computer-Fundamentals Tutorial" />
                        <div>Computer Fundamentals</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/compiler_design/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Compiler-Design.png" alt="Compiler-Design Tutorial"
                            title="Compiler-Design Tutorial" />
                        <div>Compiler Design</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/operating_system/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Operating-System.png" alt="Operating-System Tutorial"
                            title="Operating-System Tutorial" />
                        <div>Operating System</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/data_structures_algorithms/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Data-Structure.png" alt="Data-Structure Tutorial"
                            title="Data-Structure Tutorial" />
                        <div>Data Structure</div>
                    </a>
                </div>
                <div class="cols">
                    <a href="https://www.tutorialspoint.com/dbms/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/dbms.png" alt="DBMS Tutorial" title="DBMS Tutorial" />
                        <div>DBMS</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/data_communication_computer_network/index.htm"><img
                            src="../../../assets/homeimg/Networking.png" alt="Networking Tutorial"
                            title="Networking Tutorial" />
                        <div>Networking</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col border  m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-globe"></i> Web Development</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/html/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/html.png" alt="html Tutorial" title="html Tutorial" />
                        <div>HTML</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/css/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/css.png" alt="css Tutorial" title="css Tutorial" />
                        <div>CSS</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/javascript/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Javascript.png" alt="Javascript Tutorial"
                            title="Javascript Tutorial" />
                        <div>Javascript</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/php/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/php.png" alt="Php Tutorial" title="Php Tutorial" />
                        <div>PHP</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/angular4/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/angularjs4.png" alt="Angular JS4 Tutorial"
                            title="Angular JS4 Tutorial" />
                        <div>Angular JS 4</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/mysql/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/MySQL.png" alt="MySQL Tutorial" title="MySQL Tutorial" />
                        <div>MySQL</div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row ">
        <div class="col border m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-cloud-upload-alt"></i> Latest Technologies</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/bitcoin/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_bitcoin.png" alt="Bitcoin Tutorial"
                            title="Bitcoin Tutorial" />
                        <div>Bitcoin</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/blockchain/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blockchain.png" alt="Blockchain Tutorial"
                            title="Blockchain Tutorial" />
                        <div>Blockchain</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/blue_prism/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blue_prism.png" alt="Blue Prism Tutorial"
                            title="Blue Prism Tutorial" />
                        <div>Blue Prism</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/ethereum/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_ethereum.png" alt="Ethereum Tutorial"
                            title="Ethereum Tutorial" />
                        <div>Ethereum</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/openshift/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_open_shift.png" alt="OpenShift Tutorial"
                            title="OpenShift Tutorial" />
                        <div>OpenShift</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/python_blockchain/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_blockchain_python.png" alt="Python Blockchain Tutorial"
                            title="Python Blockchain Tutorial" />
                        <div>Python Blockchain</div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col border m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-check-square"></i> Machine Learning</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/machine_learning/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_machine_learning.png" alt="Machine Learning Tutorial"
                            title="Machine Learning Tutorial" />
                        <div>Machine Learning</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/tensorflow/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_tensor_flow.png" alt="TensorFlow Tutorial"
                            title="TensorFlow Tutorial" />
                        <div>TensorFlow</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/machine_learning_with_python/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_ml_python.png" alt="Machine Learning with Python Tutorial"
                            title="Machine Learning with Python Tutorial" />
                        <div>Machine Learning with Python</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/artificial_intelligence_with_python/index.htm"
                        target="_blank"><img src="../../../assets/homeimg/home_ai_python.png"
                            alt="AI with Python Tutorial" title="AI with Python Tutorial" />
                        <div>AI with Python</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/time_series/index.htm"><img
                            src="../../../assets/homeimg/home_time_series.png" alt="Time Series Tutorial"
                            title="Time Series Tutorial" />
                        <div>Time Series</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/pytorch/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/home_pytorch.png" alt="PyTorch Tutorial"
                            title="PyTorch Tutorial" />
                        <div>PyTorch</div>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <div class="row my-5  ">
        <div class="col border  m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-cogs"></i> Computer Science</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/computer_fundamentals/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Computer-Fundamentals.png" alt="Computer-Fundamentals Tutorial"
                            title="Computer-Fundamentals Tutorial" />
                        <div>Computer Fundamentals</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/compiler_design/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Compiler-Design.png" alt="Compiler-Design Tutorial"
                            title="Compiler-Design Tutorial" />
                        <div>Compiler Design</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/operating_system/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Operating-System.png" alt="Operating-System Tutorial"
                            title="Operating-System Tutorial" />
                        <div>Operating System</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/data_structures_algorithms/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Data-Structure.png" alt="Data-Structure Tutorial"
                            title="Data-Structure Tutorial" />
                        <div>Data Structure</div>
                    </a>
                </div>
                <div class="cols">
                    <a href="https://www.tutorialspoint.com/dbms/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/dbms.png" alt="DBMS Tutorial" title="DBMS Tutorial" />
                        <div>DBMS</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/data_communication_computer_network/index.htm"><img
                            src="../../../assets/homeimg/Networking.png" alt="Networking Tutorial"
                            title="Networking Tutorial" />
                        <div>Networking</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col border  m-2 grey lighten-5">
            <div class="row">
                <h2><i class="fa fa-globe"></i> Web Development</h2>
                <div class="w-100"></div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/html/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/html.png" alt="html Tutorial" title="html Tutorial" />
                        <div>HTML</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/css/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/css.png" alt="css Tutorial" title="css Tutorial" />
                        <div>CSS</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/javascript/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/Javascript.png" alt="Javascript Tutorial"
                            title="Javascript Tutorial" />
                        <div>Javascript</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/php/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/php.png" alt="Php Tutorial" title="Php Tutorial" />
                        <div>PHP</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/angular4/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/angularjs4.png" alt="Angular JS4 Tutorial"
                            title="Angular JS4 Tutorial" />
                        <div>Angular JS 4</div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.tutorialspoint.com/mysql/index.htm" target="_blank"><img
                            src="../../../assets/homeimg/MySQL.png" alt="MySQL Tutorial" title="MySQL Tutorial" />
                        <div>MySQL</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>