<div class="container my-3">
    <!-- Default form login -->
    <form [formGroup]="userform" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email" formControlName="username" id="defaultLoginFormEmail" class="form-control mb-4"
            placeholder="E-mail">

        <!-- Password -->
        <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4"
            placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <div>
            <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
        </div>

        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>

        <!-- Social login -->
        <p>or sign in with:</p>

        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="github"></mdb-icon>
        </a>

    </form>
    <!-- Default form login -->
</div>